.loginpage{

  margin-top: -250px;
  margin-left: -1px;
  top: 100%;
  left: 70%;
  background: url('/images/1234.png');
  background-size: cover;
  height: 450px;
  width: 50%;


}
h1{
  color: black;
}
